# arquivos do RStudio a ignorar
.Rproj.user
.Rhistory
.RData
.Ruserdata
# arquivos temporários do html a ignorar
*_files/
# arquivos cache a ignorar
*_cache/
.quarto/
# arquivos temporários do latex a ignorar
*.aux
*.bcf
*.bbl
*.blg
*.log
*.tex
*.toc
*.run.xml
# este é exceção
!capa.tex
!preamble.tex
# arquivos de output
*.pdf
*.html
_book/
# arquivo de autenticação
senha.txt
# diretório de dados
Dados/
Dados_old/
*.zip
# diretório de imagens
Imagens/
img/

/.quarto/
